* {
  padding: 0;
  margin: 0;
}

:root {
  --bg-green: #3dcd58;
  --bg-white: #fff;
  --bg-black: #242424;

  --border-green: var(--bg-green);
  --border-blue: #4888c8;
  --border-yellow: #ffd203;

  --primary-font: "Montserrat", sans-serif;
  --text-green: #3dcd58;
  --text-black: #242424;
  --text-white: #fff;
  --text-blue: #4888c8;
  --text-yellow: #ffd203;

  --btn-success: var(--bg-green);
  --btn-success-hover: #39bf52;
  --btn-success-border: var(--bg-green);
}

body {
  font-family: var(--primary-font);
  font-size: 1rem;
  line-height: 1.75rem;
  background-color: var(--bg-white);
  color: var(--text-black);
  overflow-x: hidden;
}

h1 {
  color: var(--text-black);
  font-size: 2.5rem;
  font-weight: 900;
  line-height: 3.5rem;
}

h2 {
  color: var(--text-black);
  font-weight: 700;
  font-size: 2.5rem;
}
h3 {
  color: var(--text-black);
  font-weight: 400;
}

h5 {
  color: var(--text-black);
  font-weight: 700;
}

p {
  color: var(--text-black);
  font-weight: 400;
}
a,
a:active,
a:focus,
a:hover {
  color: var(--text-green);
}
.text-green {
  color: var(--text-green) !important;
}
.text-blue {
  color: var(--text-blue) !important;
}
.text-yellow {
  color: var(--text-yellow) !important;
}
.bg-black{
  background-color: var(--bg-black) !important;
}
.bg-white{
  background-color: var(--bg-white) !important;
}
.bg-green{
  background-color: var(--bg-green) !important;
}
/********************** HEADER CSS *****************************/

.navbar {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
  background: transparent;
}

.navbar-nav {
  /* background-color: var(--bg-green); */
}
.navbar-toggler {
  color: var(--text-white) !important;
  outline: none !important;
  box-shadow: none !important;
  border: 0;
}
.navbar .nav-link {
  color: var(--text-white) !important;
  font-size: 1.5rem;
  font-weight: 400 !important;
   -webkit-transition: 0.3s;
  transition: 0.3s;
}
.navbar .nav-link:hover{
opacity: 0.5;
}
/*.navbar .nav-link.active {
  font-weight: 700 !important;
}
 .navbar .nav-link.active::after {
  content: "";
  display: block;
  height: 1px;
  border-bottom: 1px solid #fff;
} */
.navbar-brand {
  width: 133px;
}

.section {
  position: relative;
}

.btn {
  border-radius: 50px !important;
  font-weight: 700;
  padding: 15px 50px;
}
.btn-light,
.btn-light:active,
.btn-light:focus {
  color: var(--text-green);
  background-color: var(--text-white);
  border-color: var(--text-white);
}
.btn-light:hover{
  background-color: rgba(255, 255, 255, 0) ;
  color: var(--text-white);
}
.btn-success {
  background-color: var(--btn-success);
  border-color: var(--btn-success-border);
}
.btn-success:hover,
.btn-success:active,
.btn-success:focus {
  border-color: var(--btn-success-border);
  background-color: var(--btn-success-hover);
}

/* SECTION HOME */

#home {
  background: url("../images/bg-header.jpg") no-repeat center;
  min-height: 700px;
  padding-top: 6rem;
}
#home .container {
  position: relative;
}
#home .bg_header {
  position: absolute;
  right: 0;
  margin: auto;
}

/* SECTION CATALOGO */
.btn-catalogo{
  position: absolute;
  transform: translateY(-20px) translateX(-20%);
}
/* SECTION FORMAZIONE */

#formazione {
  background-image: url("../images/bg_formazione.jpg");
  background-size: cover;
  background-position: center;
}

.card {
  overflow: hidden;
  border-radius: 20px;
  transition: .3s ease;
}
.cardH:hover {
  border-color: var(--border-green);
}
.cardA:hover {
  border-color: var(--border-blue);
}
.cardD:hover {
  border-color: var(--border-yellow);
}

.card-body {
  padding: 1.5rem;
}
.card img {
  margin-top: -25px;
  margin-left: -5px;
  width: 107px;
}

/* SECTION PARTNER */
#partner .box{
border-radius: 20px;
 transition: .3s ease;
}

#partner .box:hover{
  box-shadow: 0px 0px 30px 10px #2424241c;
}


/* SECTION SOLUZIONI  */
#soluzioni {
  background-image: url("../images/bg_soluzioni.jpg");
  background-size: cover;
  background-position: center;
}
#soluzioni .card img {
  margin-top: -27px;
  margin-left: -27px;
  width: 135px;
}

/*  FOOTER */
footer .logo{
  width: 130px;
}
footer img{
  width: 90%;
}

.btn-social{
  transition: .3s ease;
}
.btn-social:hover{
  color: var(--text-green) !important;
}
.copyright{
  font-size: .7rem;
}

/* BUTTON UP */
.btn-scrool-to-up{
  position: fixed;
  display: block;
  opacity: 0;
  bottom: 40px;
  right: 40px;
  padding: 13px 20px;
  border-radius: 100%;
  background-color: var(--bg-green);
  color: var(--text-white);
  transition: .3s ease;
}
.btn-scrool-to-up.show{
  display: block;
  opacity: 1;
}
